iT IS a Practice notebook for coursera material

In [10]:
# The code was removed by Watson Studio for sharing.

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14,Unnamed: 8
0,Aer Lingus,320906734,2,0,0,0,0,0,NaN
1,Aeroflot*,1197672318,76,14,128,6,1,88,NaN
2,Aerolineas Argentinas,385803648,6,0,0,1,0,0,NaN
3,Aeromexico*,596871813,3,1,64,5,0,0,NaN
4,Air Canada,1865253802,2,0,0,2,0,0,NaN